.about-container {
    padding-top: 2rem;
    display: flex;
    align-items: center;     /* Vertical centering */
    justify-content: center; /* Horizontal centering (optional) */
    flex-direction: column;
}

.about-box {
    --border-size: 0.25rem;
    width: 90%;
    height: 500px;
    border: var(--border-size) solid gray;
    border-radius: 30px;
    background-color: white;
    display: flex;
    align-items: center;     /* Vertical centering */
    justify-content: center; /* Horizontal centering (optional) */
    flex-direction: column;
    overflow: hidden;
}
