.about-container {
    padding-top: 0rem;
    display: flex;
    align-items: center;     /* Vertical centering */
    justify-content: center; /* Horizontal centering (optional) */
    flex-direction: column;
}

.about-box {
    --border-size: 0.25rem;
    width: 100%;
    height: 560px;
    /* border-radius: 30px; */
    background-color: white;
    display: flex;
    align-items: center;     /* Vertical centering */
    justify-content: center; /* Horizontal centering (optional) */
    flex-direction: column;
    overflow: hidden;
}

.about-flag-foreground {
    font-family: 'Home Video';
    font-size: 100px;
    color: white;
    opacity: 1;
    position: relative;
}

.about-flag-foreground::after {
    content: attr(overlaid-text);
    position: absolute;
    font-family: 'Home Video';
    color: black;
    opacity: 1;
    top: 7px;
    left: 7px;
    z-index: -1;
    white-space: nowrap;
}

@media (max-width: 768px) {
    .house-tour-container {
        flex-direction: column;
    }
}
