.house-tour-container {
    display: flex;
    justify-content: center;
    align-items: center; 
    flex-wrap: wrap;
    width: 100vw;
}

.tour-streetview-container {
    display: flex;
    justify-content: center;
    align-items: center; 
    flex-wrap: wrap;       
    padding: 1rem;
}

.house-insta-embed {
    width: 400px;
}

@media (max-width: 768px) {
    .house-tour-container {
        flex-direction: column;
    }

    .house-insta-embed {
        width: 90%;
    }
}