.house-tour-container {
    display: flex;
    justify-content: center;
    align-items: center; 
    flex-wrap: wrap;       
    padding: 1rem;
}

.house-tour-container {
    display: flex;
    justify-content: center;
    align-items: center; 
    padding: 1rem;
}

.tour-streetview-container {
    display: flex;
    justify-content: center;
    align-items: center; 
    flex-wrap: wrap;       
    padding: 1rem;
}

@media (max-width: 768px) {
    .house-tour-container {
        flex-direction: column;
    }
}