.rush-container {
    width: 100vw;
    display: flex;
    justify-content: center; /* horizontally center the group */
    align-items: center;     /* vertically center if container has height */
    gap: 2rem;               /* space between boxes */
    padding-top: 20px;
    flex-wrap: wrap;         /* optional: allows wrapping on small screens */
    flex-direction: column;
    margin-bottom: 64px;
}

.rush-profile-container {
    display: flex;
    justify-content: center; /* horizontally center the group */
    align-items: center;     /* vertically center if container has height */
    gap: 2rem;               /* space between boxes */
    padding: 0px;
    flex-wrap: wrap;         /* optional: allows wrapping on small screens */
}

.why-tke-section {
    scroll-margin-top: 100px;
    margin-bottom: 0rem;
}

.meet-our-team-section {
    scroll-margin-top: 100px;
    margin-top: 0rem;
}
