.footer-header {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: rgb(65, 65 , 65);
    font-weight: bold;
    font-family: sans-serif;
    min-height: 64px;
    width: 100%;
}

.footer-header button, a {
    background-color: transparent;
    border: none;
    color: white;
    font-size: large;
}

