.header {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    color: white;
    background-color: rgb(65, 65 , 65);
    font-weight: bold;
    font-family: sans-serif;
    min-height: 64px;
}

.nav {
    background-color: rgb(65, 65 , 65, 0.8);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    position: fixed;
    top: 72px;
    z-index: 1000;
}

.page {
    padding: 8px;
}

.logo {
    padding: 8px;
    width: 64px;
    justify-items: center;
    align-items: center;
}