.nav-mobile-stack {
    color: white;
}

.nav-mobile-stack-wrapper {
    border: 1px solid #616161;
    border-radius: 5px;
    padding-top: 0.2rem;
    padding-bottom: 0rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.nav-mobile-stack-wrapper:hover {
    background-color: #616161;
}

.nav-desktop-wrapper {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.nav-bar-text {
    cursor: pointer;
    margin-inline: 12px;
    padding: 8px;
    font-size: 18px;
    font-family: 'Home Video';
}

.nav-bar-text:hover {
    /* color: #999999; */
    color: rgba(167, 153, 73, 0.53);
}
