.rush-box {
    --border-size: 0rem;
    width: 90%;
    height: 500px;
    border: var(--border-size) solid rgb(0, 0, 0);
    border-radius: 30px;
    overflow: hidden;
    background-color: white;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.278);
    /* box-shadow: 2px 2px 10px rgb(255, 185, 185); */
    display: flex;
    align-items: center;     /* Vertical centering */
    justify-content: center; /* Horizontal centering (optional) */
    flex-direction: column;
}

.rush-box-text {
    height: auto;
    width: 75%;
    padding: 0px;
    text-align: center;
    font-size: 72px;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
}

.rush-box-text-small {
    height: auto;
    padding: 0px;
    text-align: center;
    font-size: 24px;
    font-weight: 400;
    color: rgb(100, 100, 100);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 3rem;
}

.rush-button-wrapper {
    display: flex;
    gap: 1rem;
    margin-top: 3rem;
}

.rush-black-button {
    background-color: black;
    color: white;
    padding: 0.8rem 1.6rem;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.3rem;
    font-weight: 500;
    transition: background-color 0.2s ease;
    gap: 1rem;
}

.rush-black-button:hover {
    background-color: #333;
}

.rush-white-button {
    background-color: white;
    color: black;
    padding: 0.8rem 1.6rem;
    border: 1.5px solid rgb(200, 200, 200);
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.3rem;
    font-weight: 500;
    transition: background-color 0.2s ease;
    gap: 1rem;
}

.rush-white-button:hover {
    border-color: rgb(160, 160, 160);
}

@media (max-width: 800px) {
    .rush-box {
        height: 400px;
    }

    .rush-box-text {
        width: 90%;
        font-size: 42px;
    }

    .rush-box-text-small {
        width: 90%;
        font-size: 20px;
    }

    .rush-black-button {
        font-size: 1.1rem;
    }

    .rush-white-button {
      font-size: 1.1rem;
  }
} 

/* animation for box shadows */
@keyframes colorCycleShadow {
    0% {
      box-shadow: 0 0 10px rgb(255, 131, 131);
    }
    50% {
      box-shadow: 0 0 10px rgb(99, 99, 99);
    }
    100% {
      box-shadow: 0 0 10px rgb(255, 131, 131);
    }
}
  
.dynamic-shadow {
    animation: colorCycleShadow 7s infinite ease-in-out;
}

@keyframes shadowLoop {
    0% {
      box-shadow: 10px 0px 6px rgb(255, 131, 131);
    }
    25% {
      box-shadow: 0px 10px 6px rgb(255, 131, 131);
    }
    50% {
      box-shadow: -10px 0px 6px rgb(255, 131, 131);
    }
    75% {
      box-shadow: 0px -10px 6px rgb(255, 131, 131);
    }
    100% {
      box-shadow: 10px 0px 6px rgb(255, 131, 131);
    }
}
  
.looping-shadow {
    animation: shadowLoop 10s linear infinite;
}

/* border animation */
.rainbow:hover {
    --border-size: 0.15rem;
    border: var(--border-size) dotted transparent;
    background-image: linear-gradient(
        to right,
        rgb(255 255 255 / var(--opacity)),
        rgb(255 255 255 / var(--opacity))
      ),
      conic-gradient(
        from var(--angle),
        rgb(255, 200, 200) 0deg 90deg,
        #ffffff 90deg 180deg,
        #ffffff 180deg 270deg,
        #ffffff 270deg 360deg
      );
    background-origin: border-box;
    background-clip: padding-box, border-box;
}

@property --opacity {
    syntax: "<number>";
    initial-value: 1;
    inherits: false;
}
  
@property --angle {
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}
  
@keyframes rotate {
    to {
      --angle: 360deg;
    }
}
  
.rainbow {
    animation: rotate 7s linear infinite;
}

.rainbow:hover {
    opacity: 1;
}
  