.flag-box {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;     /* Vertical centering */
    justify-content: center; /* Horizontal centering (optional) */
    flex-direction: column;
    overflow: hidden;
    position: relative;
    background-color: rgb(169, 47, 47);
    opacity: 1;
}

.flag-diagonal-stripe {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 150%;
    height: 250px;
    background: rgb(150, 150, 150);
    padding-top: 1.5rem;
    transform: rotate(20deg);
    position: absolute;
    z-index: 0;
}

.flag-triangle {
    --a: 200px;
    position: relative;
    width: 0;
	height: 0;
	border-left: calc(var(--a) / 2) solid transparent;
	border-right: calc(var(--a) / 2) solid transparent;
	border-top: calc(0.866 * var(--a)) solid rgb(169, 47, 47);
    transform: rotate(-20deg);
}

.flag-triangle::after {
    --a: 200px;
    --b: 150px;
    content: "";
    position: absolute;
    /* top: calc(0.866 / 2 * (var(--a) - var(--b))); */
    top: -162px;
    left: -72px; /* half of border-left (outer) minus inner width */
    width: 0;
    height: 0;
    border-left: calc(var(--b) / 2) solid transparent;
	border-right: calc(var(--b) / 2) solid transparent;
	border-top: calc(0.866 * var(--b)) solid rgb(150, 150, 150);
    pointer-events: none;
}

.flag-triangle-stream {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 30px;
    animation: moveStream 4s linear infinite;
    /* animation-play-state: paused; */
}

.flag-box:hover .flag-triangle-stream {
    animation-play-state: running;
}

@keyframes moveStream {
    100% {
        transform: translateX(230px)
    }
}

.flag-foreground {
    position: relative;
    z-index: 1;
    opacity: 1;
}

@media (max-width: 760px) {
    .flag-diagonal-stripe {
        transform: rotate(30deg);
    }

    .flag-triangle {
        transform: rotate(-30deg);
    }
}
